<div ng-show='loggedIn==true' class="">
  <div class="list-group">

        <a ng-repeat="photo in photos" ng-click="listItemClicked(this)" class="list-group-item row list-group-item-action flex-column align-items-start" style="margin-bottom:5px;">
          <div class="d-flex row justify-content-between">
            <h5 class="mb-1 col-sm-6">Album ID: {{photo.albumId}}</h5>
            <small class="col-sm-6" align="right">ID: {{photo.id}}</small>
          </div>
          <div class="row">
            <p class="mb-1 col-sm-8">{{photo.title}}</p>
            <img ng-src="{{photo.thumbnailUrl}}" class="img-rounded col-sm-4" align='right' alt="Thumbnail">
          </div>
        </a>

  </div>
</div>

<div ng-show='loggedIn==false' class="alert alert-danger" role="alert">
  You're not logged in!!! Please log in first to access the content of this page. <a href="#login" class="alert-link">Login</a>
</div>
