  <form name='loginForm' class="login-form">
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="email">Email</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="email" ng-model="user.email" placeholder="Email" ng-required="true">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="inputPassword">Password</label>
      <div class="col-sm-4">
        <input class="form-control" type="password" id="inputPassword" ng-model="user.password" placeholder="Password" ng-required="true">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" ng-disabled="loginForm.$invalid" ng-click="login(user)" class="btn btn-danger">Login</button>
      </div>
    </div>
  </form>
  
